name: CI Pipeline

 

on:

  push:

    branches: [ "main" ]

  pull_request:

    branches: [ "main" ]

 

jobs:

  build-test-docker:

    runs-on: ubuntu-latest

 

    steps:

    # Step 1: Checkout code

    - name: Checkout code

      uses: actions/checkout@v3

 

    # Step 2: Set up Node.js

    - name: Set up Node.js

      uses: actions/setup-node@v4

      with:

        node-version: '18'

 

    # Step 3: Install dependencies

    - name: Install dependencies

      run: npm install

 

    # Step 4: Run tests (if you have a test script in package.json)

    - name: Run tests

      run: npm test

 

    # Step 5: Log in to DockerHub

    - name: Log in to DockerHub

      uses: docker/login-action@v2

      with:

        username: ${{ secrets.DOCKERHUB_USERNAME }}

        password: ${{ secrets.DOCKERHUB_TOKEN }}

        logout: true

 

    # Step 6: Build Docker image

    - name: Build Docker image

      run: docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/nodejs-docker-sample:latest .

 

    # Step 7: Push Docker image

    - name: Push Docker image

      run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/nodejs-docker-sample:latest